body {
    font-family: "montserrat", sans-serif;
    background: #FAFAFA;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
.container {
    width: 100%;
    max-width: 1166px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid #FD9222;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
/*------HEADER LOGO-------*/
.header {
    padding-top: 24px;
    padding-bottom: 32px;
}
 .header-container {
    display: flex;
    gap: 90px;
    align-items: center;
 }
.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.header-logo-link {
    color: #111;
font-size: 18px;
font-weight: 700;
line-height: 1.11;
letter-spacing: -0.03em;
display: flex;
align-items: center;
gap: 4px;
}

.header-logo-italic {
    font-style: italic;
}

.header-menu-list {
    display: flex;
    gap: 24px;
}
.header-menu-item {

}

.header-menu-link {
    color: #111;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active{
color: #FD9222;
}

.header-list {
    display: flex;
    gap: 14px;
}
.header-list-item {

}

.header-list-link {
    
}

.header-soc-link:hover {
    fill: #FD9222;
}

/*------HERO-------*/

.hero {
    padding-bottom: 80px;
    
}
.hero-container {
    background-color: #11111100, #111111;
    border-radius: 30px;
    padding: 381px 40px 40px 40px;
    background-image: url(../images/fon/chocolate_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   

}
.hero-title {
    color: #FFF;
font-size: 28px;
font-weight: 500;
line-height: 1.21; 
letter-spacing: -0.03em;
margin-bottom: 32px;
max-width: 484px;
}
.hero-buy-btn {
    color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
border-radius: 100px;
background: #FD9222;
border: none;
line-height: normal;
cursor: pointer;
padding: 14px 40px;
margin-right: 14px;
}

.hero-made-btn {
    color: #FFF;
font-size: 14px;
font-weight: 600;
line-height: normal;
border-radius: 100px;
border: 1px solid #FFF;
background-color: transparent;
padding: 14px 40px;
}

.hero-down-btn {
color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.29;
letter-spacing: -0.03em;
margin-left: auto;
}
.hero-buttons {
    display: flex;
    align-items: center;
}





/*------FEATURES-------*/
.features {
    background-color:  #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.features-list {
    display: flex;
    gap: 88px;
    padding-right: 18px;
    padding-left: 18px;
}
.features-item {
    width: calc((100% - 88px * 2) / 3);
position: relative;
}

.features-item:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 124px;
    display: block;
    background-color: #FFF;
    position: absolute;
    right: -44px;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
}
.features-subtitle {
    color: #FFF;
font-size: 18px;
font-weight: 600;
line-height: normal;
margin-bottom: 18px;
}
.feature-item-text {
    color: rgba(255, 255, 255, 0.70);
font-size: 14px;
line-height: 1.29; 
letter-spacing: -0.02em;
}


/*------TASTE------*/

.taste {
    padding-top: 120px;
   
}
.taste-title span {
    color: #FD9222;
}
.taste-title {
     color: #111;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;

max-width: 412px;
margin: 0 auto;
margin-bottom: 28px;
}
.taste-text {
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
    width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.taste-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}
.taste-item {
    border-radius: 15px;
border: 1px solid #FD9222;
background: #FFF;
width: calc((100% - 32px * 3) / 4);
padding: 28px 23px;
}
.taste-img {
    margin: 0 auto;
    margin-bottom: 36px;
}
.taste-subtitle {
    color: #111;
font-size: 14px;
font-weight: 600;
line-height: 1.28;
letter-spacing: -0.02em;
padding-left: 5px;
}

/*------MADE-------*/
.made {
    padding-top: 120px;
}
.made-container {

}

.made-title span {
    color: #FD9222;
}
.made-title {
    color: #111;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
margin-bottom: 50px;
}
.made-wrap {
display: flex;
gap: 20px;
}

.made-content {
    padding: 32px;
    border-radius: 15px;
background: #FFF;

}

.made-img {

}
.made-subtitle {
    color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1.33; 
margin-bottom: 28px;
}
.made-list {
    
}
.made-item {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.made-item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #111111;
    border-radius: 50%;
    border: 1px solid #eceded;
    flex-shrink: 0;
}

.made-item:hover:before {
background-color: #FD9222;;
}
.made-item-text {
    color: #111;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;

}

/*------PRODUCTS-------*/
.products {
    padding-top: 120px;
}
.products-title span{
    color: #FD9222;
}
.products-title {
    color: #111;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
max-width: 350px;
margin: 0 auto;
margin-bottom: 50px;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}
.product-item {
    border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;
    width: calc((100% - 18px * 3) / 4);
    padding: 32px 20px;
}
.product-img {
   margin: 0 auto; 
   margin-bottom: 8px;
}

.products-subtitle {
    color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;
margin: 0 auto;
margin-bottom: 5px;
text-align: center;
}
.products-item-text {
    color: rgba(17, 17, 17, 0.70);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: -0.02em;
margin: 0 auto;
margin-bottom: 18px;
text-align: center;
}

.products-item-btn {
color: #111;
font-size: 14px;
font-weight: 600;
line-height: normal;
border-radius: 100px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FAFAFA;
padding: 8px 20px;
margin: 0 auto;
text-align: center;
margin-left: 68px;

}

/*------SELLERS-------*/
.sellers {
    padding-top: 120px;
}
.sellers-title span{
    color: #FD9222;
}

.sellers-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sellers-list {
    display: flex;
    gap: 16px;

}
.sellers-list-item {
padding-bottom: 28px;
width: calc((100% - 16px * 2) / 3);
position: relative;

}

.sellers-img {

}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
    
}
.sellers-text-wrap {
    position: absolute;
    border-radius: 15px 15px 0px 0px;
background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
-webkit-backdrop-filter: blur(7.5px);
    top: 0;
display: flex;
align-items: center;
padding: 0 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;

}


.sellers-cover-text {
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;


}
.sellers-subtitle-wrap {
    border-radius: 0px 0px 15px 15px;
border-right: 1px solid rgba(17, 17, 17, 0.10);
border-bottom: 1px solid rgba(17, 17, 17, 0.10);
border-left: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;

}

.sellers-list-item:hover .sellers-text-wrap {
    transform: translateY(0);
}
.sellers-subtitle {
    color: #111111;
    font-size: 18px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}

/*------LOVED-------*/
.loved {
    padding-top: 120px;
}
.loved-title {
    color: #111;
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: 1.33;
margin: 0 auto;
margin-bottom: 50px;

}
.loved-title span{
    color: #FD9222;
}
.loved-list {
    display: flex;
}
.loved-list-item {
}
.loved-subtitle {
}
.loved-text {
    color: rgba(17, 17, 17, 0.70);
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
}
.loved-item-btn {
    color: #111;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: normal;
}

/*------LOVED-------*/
.footer {
  background-color:   #1E1823;
}
.footer-heading {
    color: #FFF;
font-size: 28px;
font-weight: 500;
line-height: 1.21;
letter-spacing: -0.02em;
}
.footer-heading span {
  color: #FD9222;

}
.footer-subtitle {
    color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
    font-style: normal;
}
.footer-address-list {
    color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 1.20;
letter-spacing: -0.02em;
}
.footer-address-item {
}
.footer-address-link {
}
.footer-navigation {
    
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
    color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active{
color: #FD9222;
}